red-node/test-flow.json
[
    {
        "id": "eb8f9c0d054be30c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ce6cd876fd5441f",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/set/status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "974a7a8bb6db9bf9",
        "type": "mqtt in",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/get/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76915530568bf1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 980,
        "wires": [
            [
                "f1219a2eeabe825f"
            ]
        ]
    },
    {
        "id": "6bd227b280e372b7",
        "type": "ui_switch",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light One",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "4ce6cd876fd5441f"
            ]
        ]
    },
    {
        "id": "f1219a2eeabe825f",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 810,
        "y": 980,
        "wires": []
    },
    {
        "id": "36a2b952ec7aecf4",
        "type": "ui_colour_picker",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light Color",
        "group": "cd687a95.00e108",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "567446c1ffbbf8e1",
                "465e766efb1bbee5"
            ]
        ]
    },
    {
        "id": "bf3facfe686f704d",
        "type": "ui_slider",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "brightness",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "250",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 660,
        "wires": [
            [
                "fb8d3fc805541e55",
                "25e2d0df40a097ac"
            ]
        ]
    },
    {
        "id": "fb8d3fc805541e55",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/set/brightness",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 950,
        "y": 600,
        "wires": []
    },
    {
        "id": "eba35f701fe4260b",
        "type": "mqtt in",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/get/brightness",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76915530568bf1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 740,
        "wires": [
            [
                "5d55449dcd087281"
            ]
        ]
    },
    {
        "id": "5d55449dcd087281",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 740,
        "wires": []
    },
    {
        "id": "78d2d9fd26d201c6",
        "type": "mqtt in",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/get/color",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76915530568bf1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 800,
        "wires": [
            [
                "ccb856e6e3b1193a"
            ]
        ]
    },
    {
        "id": "25e2d0df40a097ac",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 5,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "ccb856e6e3b1193a",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "403024dffb9eb32a",
        "type": "mqtt in",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/rfid/get/uuid",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76915530568bf1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "3881536e1d776b66"
            ]
        ]
    },
    {
        "id": "3881536e1d776b66",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "rfid uuid:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "9d6ba666254d3e31",
        "type": "mqtt in",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/misc/get/uptime",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76915530568bf1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 920,
        "wires": [
            [
                "09936977561a7c5c"
            ]
        ]
    },
    {
        "id": "7cdf9a8329c7d4b3",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "uptime: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 920,
        "wires": []
    },
    {
        "id": "09936977561a7c5c",
        "type": "function",
        "z": "eb8f9c0d054be30c",
        "name": "function 1",
        "func": "var rgbArray = msg.payload.match(/\\d+/g);\n\nvar rgbHexArray = rgbArray.map(function (item) {\n    return parseInt(item).toString(10);\n});\n\n// add a 0 if the value is less than 16\nrgbHexArray.forEach(function (item, index) {\n    if (item.length < 2) {\n        rgbHexArray[index] = \"0\" + item;\n    }\n});\n\nreturn { payload: rgbHexArray.join(\":\")}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "7cdf9a8329c7d4b3"
            ]
        ]
    },
    {
        "id": "567446c1ffbbf8e1",
        "type": "function",
        "z": "eb8f9c0d054be30c",
        "name": "translateHexRGB",
        "func": "var rgbArray = msg.payload.match(/\\d+/g);\n\n// print rgbArray as hex values\nvar rgbHexArray = rgbArray.map(function(item){\n    return parseInt(item).toString(16).toUpperCase();\n});\n\n// add a 0 if the value is less than 16\nrgbHexArray.forEach(function (item, index) {\n    if (item.length < 2) {\n        rgbHexArray[index] = \"0\" + item;\n    }\n});\n\nreturn { payload: \"00:\" + rgbHexArray.join(\":\")};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 420,
        "wires": [
            [
                "7eb0c3a5b410e6e4"
            ]
        ]
    },
    {
        "id": "7eb0c3a5b410e6e4",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Color: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "855079555e1905b9",
        "type": "ui_text",
        "z": "eb8f9c0d054be30c",
        "group": "cd687a95.00e108",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "465e766efb1bbee5",
        "type": "function",
        "z": "eb8f9c0d054be30c",
        "name": "simplifyRGB",
        "func": "var rgbArray = msg.payload.match(/\\d+/g);\n\n// add a 0 if the value is less than 16\nrgbArray.forEach(function (item, index) {\n    if (item.length < 2) {\n        rgbArray[index] = \"0\" + item;\n    }\n});\n\nreturn { payload: rgbArray.join(\".\") };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            [
                "855079555e1905b9",
                "12182dda1ce0abed"
            ]
        ]
    },
    {
        "id": "12182dda1ce0abed",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/set/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "196e3feeac3cdd0a",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/led/0/set/status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6a21567bea02a9ad",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/led/1/set/status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 860,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5ef097c0d69974bf",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/led/2/set/status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4820df96c14b7794",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/led/3/set/status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 860,
        "y": 1220,
        "wires": []
    },
    {
        "id": "09562ccac01e1878",
        "type": "ui_switch",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light One",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "196e3feeac3cdd0a"
            ]
        ]
    },
    {
        "id": "426f62b10dca5042",
        "type": "ui_switch",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light One",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "6a21567bea02a9ad"
            ]
        ]
    },
    {
        "id": "67788c6d707013cb",
        "type": "ui_switch",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light One",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1160,
        "wires": [
            [
                "5ef097c0d69974bf"
            ]
        ]
    },
    {
        "id": "d0396baf6eb956de",
        "type": "ui_switch",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "label": "Light One",
        "tooltip": "",
        "group": "cd687a95.00e108",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1220,
        "wires": [
            [
                "4820df96c14b7794"
            ]
        ]
    },
    {
        "id": "cb9bc50e31a9b837",
        "type": "ui_button",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "group": "cd687a95.00e108",
        "order": 30,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apply",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 1320,
        "wires": [
            [
                "89127d504bd98923"
            ]
        ]
    },
    {
        "id": "89127d504bd98923",
        "type": "mqtt out",
        "z": "eb8f9c0d054be30c",
        "name": "",
        "topic": "/esp32/leds/set/apply",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "76915530568bf1d6",
        "x": 840,
        "y": 1320,
        "wires": []
    },
    {
        "id": "dcebd66628003773",
        "type": "ui_spacer",
        "z": "eb8f9c0d054be30c",
        "name": "spacer",
        "group": "cd687a95.00e108",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "bfea682ddeea03d3",
        "type": "ui_spacer",
        "z": "eb8f9c0d054be30c",
        "name": "spacer",
        "group": "cd687a95.00e108",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "9178a17d0ff30b0c",
        "type": "ui_spacer",
        "z": "eb8f9c0d054be30c",
        "name": "spacer",
        "group": "cd687a95.00e108",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "d6b5ff0a250776b1",
        "type": "ui_spacer",
        "z": "eb8f9c0d054be30c",
        "name": "spacer",
        "group": "cd687a95.00e108",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "76915530568bf1d6",
        "type": "mqtt-broker",
        "name": "mqtt broker",
        "broker": "192.168.1.140",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd687a95.00e108",
        "type": "ui_group",
        "name": "ESP32 Home Controller",
        "tab": "aa146f4d.b53ca",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa146f4d.b53ca",
        "type": "ui_tab",
        "name": "Demo Lab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]